.App {
  text-align: center;
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  height: 65px;
  width: 65px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

button {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.X {
  color: red;
}

.O {
  color: blue;
}